<!--模板布局-->
<!DOCTYPE html>
<html lang="zh-CN">
<!--head 部分-->
<% include ../layout/header.ejs %>
<body class="home-template">
<!--页面顶部-->
<% include ../layout/top.ejs %>

<!--<div class="jumbotron masthead">
    <div class="container" style="background-color:orangered">
        <h1>Node.js 学习网 </h1>
        <h1>@： easynode.cn</h1>
        <h2>内容丰富，前沿技术，精心制作，让Node.js 学习、开发 So Easy!</h2>
    </div>
</div>-->
<div class="page">
    <div class="container">
        <div class="page-header" style="margin:0 auto;background-color:orangered;padding:20px;text-align:center;color:white;font-size:5em;">
            <h1>Node.js 学习网 </h1>
            <h1>@： easynode.cn</h1>
            <h2>内容丰富，前沿技术，精心制作，让Node.js 学习、开发 So Easy!</h2>
        </div>
        <div class="page-main">

        </div>
    </div>
</div>
<!--
-->




<!--页面底部-->
<% include ../layout/footer.ejs %>
</body>
<!--引用的外部JS文件-->
<% include ../layout/buttom.ejs %>
</html>