<!--课程-->
<!DOCTYPE html>
<html lang="zh-CN">
<% include ../layout/header.ejs %>
<body class="home-template">
<% include ../layout/top.ejs %>

<!--页面底部-->
<% include ../layout/footer.ejs %>
</body>
<!--引用的外部JS文件-->
<% include ../layout/buttom.ejs %>
</html>