<!--模板布局-->
<!DOCTYPE html>
<html lang="zh-CN">
<!--head 部分-->
<% include ../layout/header.ejs %>
<body class="home-template">
<!--页面顶部-->
<% include ../layout/top.ejs %>


<pre class="language-markup">
    <code>&lt;!-- 初始状态 --&gt;
        &lt;header class="headroom"&gt;

        &lt;!-- 向下滚动时 --&gt;
        &lt;header class="headroom headroom--unpinned"&gt;

        &lt;!-- 向上滚动时 --&gt;
        &lt;header class="headroom headroom--pinned"&gt;
    </code>
</pre>








<!--页面底部-->
<% include ../layout/footer.ejs %>
</body>
<!--引用的外部JS文件-->
<% include ../layout/buttom.ejs %>
</html>