<!--页面底部-->
<footer style="background-color:#222;line-height:70px;">
    <div class="container">
        <div class="main-container">
            <a href="/about">关于我们</a>
            <span>|</span>
            <a href="/group">团队介绍</a>
            <span>|</span>
            <a href="/contact">联系我们</a>
            <span>|</span>
            <a href="/protocol">使用协议</a>
            <span>|</span>
            <span style="color:white;">本站资源均免费提供，仅供学习参考，如有侵权，请联系我们</span>
            <span style="color:white;" class="pull-right">滇ICP备14017096号-3</span>
        </div>
    </div>
</footer>