<!--模板布局-->
<!DOCTYPE html>
<html lang="zh-CN">
<!--head 部分-->
<% include header.ejs %>
<body class="home-template">
<!--页面顶部-->
<% include top.ejs %>

    <%= body %>

<!--页面底部-->
<% include footer.ejs %>
</body>
<!--引用的外部JS文件-->
<% include buttom.ejs %>
</html>