<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
<!--        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="http://easynode.cn">Node.js 学习网</a>
        </div>-->
        <div class="navbar-collapse collapse" role="navigation">
            <!--nav-->
            <ul class="nav navbar-nav">
                <li><a href="/index" title="Node.js学习网">首 页</a></li>
                <li><a href="/questions" title="常见问题汇总">常见问题</a></li>
                <li><a href="/tutorials" title="大量学习教程">教程专区</a></li>
                <li><a href="/modules" title="热门模块讲解">热门模块</a></li>
                <li><a href="/demos" title="提供示例代码">示例代码</a></li>
                <li><a href="/download" title="海量资源可供下载">资源中心</a></li>
            </ul>
            <!--nav right-->
            <ul class="nav navbar-nav navbar-right">
<!--
                <li><a href="/login">登录</a></li>
                <li><a href="/login">注册</a></li>
-->

                <li>
                    <a href="/profile">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <span id="user">赵茂鑫</span>
                    </a>
                </li>
                <li>
                    <a href="/signout">退出</a>
                </li>
                <li>
                    <a href="/feedback">意见反馈</a>
                </li>
            </ul>
        </div>
    </div>
</div>